<p>
  <strong>Title: </strong>
  <%= @story.title %>
</p>

<p>
  <strong>By: </strong>
  <%= @story.author_name %>
</p>

<p>
  <strong>Location: </strong>
  <%= @story.author_location %>
</p>

<p>
  <strong>Body: </strong>
  <%= @story.body %>
</p>